MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net
DB_NAME=YOUR_DB_NAME
API_KEY=YOUR_API_KEY

# Sliike's OpenAI's API key
OPENAI_API_KEY=your-openai-api-key
OPENAI_ORGANIZATION_ID=your-openai-organization-id
OPENAI_TEXT_GEN_MODEL=gpt-3.5-turbo
OPENAI_TEXT_GEN_PROMPT="Refine the user's message and return in JSON format with one field 'messages' and suggest a list of {0} choices. The messages should be catchy, professional, has more details and helps with SEO"
OPENAI_TEXT_OPTIMIZER_MAX_PROMPT_TOKEN=125

# Current personal trial key. TODO: get new key from Sliike
COHERE_API_KEY=your-cohere-api-key
COHERE_TEXT_GEN_MODEL=command
COHERE_CLIENT_NAME=Sliike Text Generation Test
COHERE_TEXT_GEN_PROMPT="Refine the message, then output only the response in triple single quotes without any explanation required. The response format should be: ```response content```. The refined message should be catchy, professional, has more details, helps with SEO and should not be exceeding {} words."
# COHERE_TEXT_GEN_PROMPT="Refine the user's message and return in json format with one field 'message'. The message should be catchy, professional, has more details, helps with SEO and should not be exceeding {0} words."
COHERE_TEXT_OPTIMIZER_MAX_PROMPT_TOKEN=200

TEXT_OPTIMIZER_MAX_INPUT_CHARACTERS=300
TEXT_OPTIMIZER_CHOICES=2
TEXT_OPTIMIZER_TEMPERATURE=1.3
TEXT_OPTIMIZER_MAX_TOKENS=200
TEXT_OPTIMIZER_MAX_RETRY=2

AWS_DEFAULT_REGION=us-east-1
AWS_PROFILE=your-aws-profile
ANTHROPIC_TEXT_GEN_MODEL=anthropic.claude-v2:1
ANTHROPIC_TEXT_GEN_PROMPT="Refine the user's message and return in JSON format with one field (key) 'messages' and suggest a list of {} choices. Skip the preamble text and conclusion as well as any explanation; return straight into the json response. The messages should be catchy, professional, has more details and helps with SEO."
ANTHROPIC_TEXT_OPTIMIZER_MAX_PROMPT_TOKEN=200
ANTHROPIC_TEXT_GEN_TEMPERATURE=1