__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
env/
.venv/
ENV/
env.bak/
venv.bak/
*.orig
*.log
*.csv
.local/
.DS_Store
python-server.code-workspace
openai-test.py
sliike-openai-test.ipynb
.ipynb_checkpoints/sliike-openai-test-checkpoint.ipynb
.gitignore
.jupyter/desktop-settings.json
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
