__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
env/
.venv/
ENV/
env.bak/
venv.bak/
*.csv
*.orig
*.log
*.csv
.local/
.DS_Store
python-server.code-workspace
*-test.py
*.ipynb
.ipynb_checkpoints/sliike-openai-test-checkpoint.ipynb
.gitignore
.jupyter/desktop-settings.json
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
images/LVS_2400x725.png
